/* main header */
header {
    margin: 10px 0 10px 0;
  }
  
  .main-header {
    min-height: 50px
  }
  
  header.main-header h1 {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 250%;
    font-weight: 100;
    width: 250px;
    float: left;
    text-align: left;
    margin: 0;
  }
  
  
  /* top nav */ 
  
  nav {
    min-width: 200px;
    float: right;
  }
  
  .masthead-nav > li {
    display: inline-block;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    border-bottom: 2px solid transparent;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
  }
  .masthead-nav > .active > a,
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {
    color: #333;
    border-bottom-color: #333;
  }